//COLORS

$primary-color: #54514C;
$secondary-color: #fff;
$tertiary-color: #F0F1F3;
$button-color-1: #86817D;
$button-color-2: #D6CAB0;

//FONTS

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

$primary-font: 'Open Sans', sans-serif;



