//COLORS

$primary-color: #000;
$secondary-color: #fff;
$tertiary-color: #717171;
$button-color-1: #f1f1f1;
$button-color-2: #383838;
$accent-color-1: #64afcb;
$accent-color-2: #8890ca;
$accent-color-3: #eb7a7a;
$accent-color-4: #cecd77;
$accent-color-5: #ffe49f;
$accent-color-6: #ef8e5b;
$accent-color-7: #c87993;


